﻿@model MyNewTask.Models.Product
@{
    ViewBag.Title = "CreateProduct";
}
<h2>CreateProduct</h2>

@using (Html.BeginForm("CreateProduct", "Shop", FormMethod.Post))

{
    // @Html.HiddenFor(Model.CategoryId)
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Quantity)
                @Html.ValidationMessageFor(model => model.Quantity)
            </div>
        </div>
    </div>
        <div class="form-horizontal">


            <div class="form-group">
                @Html.LabelFor(model => model.Category, new { @class = "contrl-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Name", "Please Select Category")
                    @*@Html.TextBoxFor(model => model.Quantity)
                        @Html.ValidationMessageFor(model => model.Quantity)*@
                </div>
            </div>
        <div class="form-group">

          <input type="submit" value="Submit">
            </div>
    </div>


    //   @Html.TextBoxFor(p => p.Name)
    //  @Html.TextBoxFor(s => s.Price)
    // @Html.TextBoxFor(o => o.Quantity)

}

