﻿@model MyNewTask.Models.Category
@{
    ViewBag.Title = "CreateCatergory";
}

<h2>Create Catergory</h2>
@using (Html.BeginForm("CreateCategory", "Shop", FormMethod.Post))
{
    @Html.TextBoxFor(m=>m.Name)
   

    <input type="submit" value="Submit">
}


