﻿@model MyNewTask.Models.Category
@{
    ViewBag.Title = "DeleteCategory";
}

<h2>Are you sure you want to delete Category</h2>
@using (@Html.BeginForm("DeleteCategory", "Shop",FormMethod.Post))
{
    @Html.TextBoxFor(m => m.Name)
    
    <input type="submit" value="Submit" />

}