﻿@model MyNewTask.Models.Category
@{
    ViewBag.Title = "EditCategory";
}

<h2>EditCategory</h2>

@{
    ViewBag.Title = "CreateCatergory";
}

<h2>Create Catergory</h2>
@using (Html.BeginForm("EditCategory", "Shop", FormMethod.Post))
{
    @Html.TextBoxFor(m => m.Name)
    <input type="submit" value="Submit">
}


