﻿@model MyNewTask.Models.Product 
@{
    ViewBag.Title = "EditProduct";
} 
<h2>EditProduct</h2>
@using (Html.BeginForm("EditProduct", "Shop", FormMethod.Post))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

            <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div> 

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Quantity)
                @Html.ValidationMessageFor(model => model.Quantity)
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Category, new { @class = "contrl-label col-md-2" })            
            <div class="col-md-10">
                @Html.DropDownListFor(m=>m.CategoryId, (SelectList)ViewBag.CategorySelectList,"Select...")
            </div>
        </div>

    </div>
    <input type="submit" value="Submit">       

}
