﻿@model  IEnumerable<MyNewTask.Models.Product >
@{
    ViewBag.Title = "Index";
}

 <h2>List of Products</h2>
 <h4>@Html.ActionLink("Create New Catergory", "CreateCategory") </h4>
 <h4>@Html.ActionLink("Create New Product", "EditProduct") </h4>
 <h4>@Html.ActionLink("View Category", "ViewCategory") </h4>
 

<table class="table">
   <tr>       
       <th>Product Name </th>
       <th>Price</th>
       <th>Category</th>
       <th>Quantity</th> 
       <th>Edit Product</th>
   </tr>
@foreach(var item in Model)
{
   <tr>
       <td>
            @Html.DisplayFor(modelItem => item.Name)
       </td>
       <td> 
           Rs : @string.Format("{0:00}",@Html.DisplayFor(modelItem => item.Price))
           
       </td>
       <td>
            @Html.DisplayFor(modelItem=>item.Category.Name)
       </td>
       <td>
            @Html.DisplayFor(modelItem=>item.Quantity)
       </td>
       <td>
           @Html.ActionLink("Edit", "EditProduct", new { item.ID })
       </td>
       <td>
           @Html.ActionLink("Delete", "DeleteProduct", new { item.ID })
       </td>

  </tr>
}
</table>


