﻿@model IEnumerable <MyNewTask.Models.Category>
@{
    ViewBag.Title = "ViewCategory";
}
<h4>@Html.ActionLink("Create New Catergory", "CreateCategory") </h4>
<h4>@Html.ActionLink("Create New Product", "EditProduct") </h4>

<table class="table">
    <tr>
        @*<th>Number</th>*@
        <th>Category Type </th>
        <th>Edit Category</th>
        <th>Delete Category</th>
    </tr>
    @foreach (var item in Model) {
    <tr>       
        <td> @Html.DisplayFor(s=>item.Name)  </td>
        <td>@Html.ActionLink("Edit Category", "CreateCategory", new {id=item.ID}) </td>
        <td>@Html.ActionLink("Delete Category", "DeleteCategory", new {id=item.ID})</td>
    </tr>
    
    }

</table>
